@model UstTestWeb.Controllers.Rss
@{
    ViewBag.Title = "RSS Feed";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="MainContent"></div>

<script type="text/javascript">
    @foreach (var item in Model.Channel.Item)
   {
      <text>
        
    $("#MainContent").html('@Html.Raw(item.Description)');
    </text>
   }
</script>



<p>Use this area to provide additional information.</p>
