@model UstTestWeb.Controllers.Rss
@{
    ViewBag.Title = "RSS Feed";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="MainContent"></div>

@section scripts
{
<script type="text/javascript">
    @foreach (var item in Model.Channel.Item)
   {
      <text>
    var cont = '@(new HtmlString(item.Description))';
    var cont = cont.replace(/[^\x20-\x7E]/gmi, "")
        $("#MainContent").html(cont);
    </text>
   }
</script>
}



