@model UstTestWeb.Controllers.Rss
@{
    ViewBag.Title = "RSS Feed";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="MainContent"></div>

@{
    if (Model != null)
    {
        if (Model.Channel != null)
        {
            foreach (var item in Model.Channel.Item)
            {
               <script>
                   var cont = @item.Description;
                   var htmltext = $.parseHTML(cont);
                   (htmltext).appendTo("#MainContent");
               </script>

            }
        }
    }
}
<p>Use this area to provide additional information.</p>
