@model UstTestWeb.Controllers.Rss
@{
    ViewBag.Title = "RSS Feed";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="MainContent"></div>

@{
    if (Model != null)
    {
        if (Model.Channel != null)
        {
            foreach (var item in Model.Channel.Item)
            {
                <text> $(@item.Description).appendTo("#MainContent");</text>
                
            }
        }
    }
}
<p>Use this area to provide additional information.</p>
